Hi $username.

Click the link below to reset your password. 
If you did not request to reset your password, discard this email and contact your Support.

$url

Once your password is reset, you will able to login.
