*.class
/.metadata
/.settings
*.prefs
*.component
*.classpath
*.project
*.container
oauth2-auth-server/.settings/org.eclipse.wst.jsdt.ui.superType.name
oauth2-auth-server/.settings/org.eclipse.wst.jsdt.ui.superType.container
auth-common/.settings/org.eclipse.wst.common.project.facet.core.xml
authentication-flows/.settings/org.eclipse.wst.common.project.facet.core.xml
common-crypto/.settings/org.eclipse.wst.common.project.facet.core.xml
oauth2-auth-server/.settings/org.eclipse.wst.common.project.facet.core.xml
authentication-flows/AuthenticationFlowsREADME.md.bak
oauth2-client/.settings/org.eclipse.wst.jsdt.ui.superType.name
oauth2-resource-server/.settings/org.eclipse.wst.jsdt.ui.superType.name
oauth2-resource-server/.settings/org.eclipse.wst.common.project.facet.core.xml
oauth2-client/.settings/org.eclipse.wst.common.project.facet.core.xml
pom.xml.bak
README.md.bak
oauth2-client/.settings/.jsdtscope
oauth2-resource-server/.settings/.jsdtscope
oauth2-auth-server/.settings/.jsdtscope
target/
*.bak
