#parse( "mailTemplates/jp/header.vm" )

<div style="font-size: 13px; padding-top: 10px;">
	<p>
		$name 様、
	</p>
	<p>
		お客様ご自身または別のユーザーによる、ログイン試行回数または秘密の質問に対する回答回数が許可されている上限を超えました。 このため、お客様のアカウントは保護のため現在ロックされています。 アカウントのロックを解除するには、以下のリンクをクリックしてください。 パスワードや秘密の質問への回答を忘れた場合は、WatchDox サポートにお問い合わせください。 ただし、ログインの試行や秘密の質問への回答をご自身が実施していない場合は、以下のリンクをクリックしないでください。 この場合は、別のユーザーがアカウントの乗っ取りを試みていると考えられるため、WatchDox サポートにお問い合わせください。 
	</p>
	<p>
		WatchDox アカウントのロックを解除するには、以下のリンクをクリックしてください。
	</p>
	<p>
		<a href="$url">$url</a>
	</p>
	<p>
		アカウントのロックが解除された後は、ご自身のパスワードを使用してお使いのアカウントにログインできるようになります。
	</p>
	
</div>
 
#parse( "mailTemplates/jp/footer.vm" )
